body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    color: midnightblue;
    padding: 20px;
}

header, footer {
    text-align: center;
}

h1, h2 {
    color: darkmagenta;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid mediumorchid;
    padding: 10px;
}

th {
    background-color: plum;
    color: indigo;
}

code {
    background-color: aliceblue;
    font-family: "Courier New", monospace;
    padding: 3px 5px;
    border-radius: 3px;
    color: crimson;
}

section {
    margin-bottom: 30px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid mediumorchid;
}
